<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="mapper.CarMapper">

    <!-- 默认情况下，二级缓存机制是开启的，只需要在对应的SqlMapper.xml文件中添加以下标签，用来表示要使用二级缓存 -->
    <cache/>

    <resultMap id="carResultMap" type="Car">
        <!-- type 属性用来指定POJO类的类名 -->
        <id column="id" property="id"/>
        <result column="car_num" property="carNum"/>
        <result column="brand" property="brand"/>
        <result column="guide_price" property="guidePrice"/>
        <result column="produce_time" property="produceTime"/>
        <result column="car_type" property="carType"/>
    </resultMap>

    <select id="selectById" resultMap="carResultMap">
        select *
        from t_car
        where id = #{id}
    </select>
    <select id="selectById2" resultType="pojo.Car">
        select *
        from t_car
        where id = #{id}
    </select>
</mapper>
